body { background-color: rgb(152, 212, 200); }
/* 清除ol, ul, li元素的样式 */
ol, ul, li { margin: 0px; padding: 0px; }
ol, ul { list-style-type: none; }
li { padding: 8px; }
/* 使得单击label标签的空白部分也能勾选相关checkbox */
label {	display: block; }
/* 网易NEC, Grid */
.g-bd { width: 640px; margin: 0 auto; }
.g-mn, .g-sd { background-color: #FFF; padding: 12px; margin: 8px; }
.g-sd { float: right; width: 280px; }
.g-mn { float: left; width: 280px; }
.u-menu.z-show { display: block; }
.name { height: 64px; line-height: 64px; overflow: hidden; font-size: 1.4em; color: #333; }
.name:hover, li:hover { background: #f7f7f7; }
.name:active, li:active { background: #f0f0f0; }
/* 原图大小36*36, 44px属于边距微调;
该属性使得空元素, 也能够正确显示图片, 也考虑过使用<img>的方式来完成, 但是个人认为不便于DOM操作, 且需要JS配合不方便, 该处使用padding-right与该效果相同 */
.category-icon { padding-left: 44px; background-repeat: no-repeat; }
.equip-icon { padding-left: 25px; background-repeat: no-repeat; background-size: contain; }
.main-cannon-light { background-image: url("../image/MainCanonLight.png"); }
.main-cannon-medium { background-image: url("../image/MainCanonMedium.png"); }
.main-cannon-heavy { background-image: url("../image/MainCanonHeavy.png"); }
.high-angle-gun { background-image: url("../image/HighAngleGun.png"); }
.secondary-canon { background-image: url("../image/SecondaryCanon.png"); }
.anti-air-gun { background-image: url("../image/AAGun.png"); }
.anti-air-fire-director { background-image: url("../image/AntiAircraftFireDirector.png"); }
.torpedo { background-image: url("../image/Torpedo.png"); }
.anti-sub-weapon { background-image: url("../image/ASW.png"); }
.soner { background-image: url("../image/Soner.png"); }
.armour-piercing-shell { background-image: url("../image/APS.png") }
.rader { background-image: url("../image/Rader.png")}
.search-light { background-image: url("../image/SearchLight.png")}
.recon-sea-plane {background-image: url("../image/ReconSeaplane.png")}
.landing-craft{background-image: url("../image/landingCraft.png")}
.carrier-fighter{background-image: url("../image/CarrierFighter.png")}
.carrier-dive-bomber{background-image: url("../image/CarrierDiveBomber.png")}
/* 文字不能选取 */
.unselectable { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer; }
/* checkbox和文字水平对齐 */
input { vertical-align: bottom; position: relative; top: 5px; *overflow: hidden; }
.u-btn { display: inline-block; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; padding: 0 12px; border: 1px solid #2d88bf; border-radius: 6px; font-size: 1em; letter-spacing: 1px; text-align: center; vertical-align: middle; cursor: pointer; word-wrap: normal; white-space: nowrap; /* box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);  */
	/* text-shadow: 0 -1px rgba(0, 0, 0, 0.2);  */
background: #6dbde4; /* background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6dbde4), to(#399dd8)); background: -webkit-linear-gradient(#6dbde4, #399dd8); background: -moz-linear-gradient(#6dbde4, #399dd8); background: -ms-linear-gradient(#6dbde4, #399dd8); background: linear-gradient(#6dbde4, #399dd8);  */ }
.u-btn, .u-btn:hover { color: #fff; text-decoration: none; }
.u-btn:hover, .u-btn:focus { background: #399dd8; }
.u-btn:active { box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2); }
.u-btn::-moz-focus-inner { padding: 0; margin: 0; border: 0; }
.u-btn .btnsel { display: inline-block; vertical-align: middle; border-style: solid; border-width: 4px 4px 0; border-color: rgba(255, 255, 255, 0.8) transparent transparent; }
.u-btn:hover .btnsel, .u-btn:focus .btnsel { border-top-color: rgba(255, 255, 255, 1); }
.u-btn-lg { padding: 0 15px; height: 36px; line-height: 36px; font-size: 1em; }
.u-btn-lg .btnsel { border-width: 5px 5px 0; }
.radius { border-radius: 8px; }