body {
	background-color: #EBAAAA; /* 明石的发色 */
}

/* remove horizontal spacing in <ul> with list-style-type:none */
/* 该注释仅针对<ol>, <ul>元素, 同时, <ol>, <ul>元素 */
ol, ul, li {
	margin: 0px;
	padding: 0px;
}
ol, ul {
	list-style-type: none;
	background-color: white; /* //TODO 回头将颜色调调整到轻微灰色的程度 */
}
li > div {
	padding: 0.5em;
}
li {
	margin: 0.5em;
}
.drag-handle {
	cursor: move; /* 可以抓取handle部分指针icon不同 */
	color: #BBB;
}
.equip-icon {
	padding-left: 44px; /* 原图大小36*36, 44px属于边距微调; 该属性使得空元素, 也能够正确显示图片, 也考虑过使用<img>的方式来完成, 但是个人认为不便于DOM操作, 且需要JS配合不方便, padding-right属性与此属性效果相同 */
	padding-top: 10px;
	background-repeat: no-repeat; /* 配合padding-left属性使用, 背景不出现重复图片 */
}
.main-cannon-light {
	background-image: url("../image/MainCanonLight.png");
}
.main-cannon-medium {
	background-image: url("../image/MainCanonMedium.png");
}
.main-cannon-heavy {
	background-image: url("../image/MainCanonHeavy.png");
}
.high-angle-gun {
	background-image: url("../image/HighAngleGun.png");
}
.anti-air-gun {
	background-image: url("../image/AAGun.png");
}
.anti-air-fire-director {
	background-image: url("../image/AntiAircraftFireDirector.png");
}
.torpedo {
	background-image: url("../image/Torpedo.png");
}
.anit-sub-weapon {
	background-image: url("../image/ASW.png");
}
.soner {
	background-image: url("../image/Soner.png");
}